@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap");
@import "tw-animate-css";
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans Georgian", sans-serif;
  --font-georgian: "Noto Sans Georgian", sans-serif;
}

:root {
  --font-georgian: "Noto Sans Georgian", sans-serif;
}

html,
body {
  font-family: "Noto Sans Georgian", sans-serif !important;
}

* {
  font-family: "Noto Sans Georgian", sans-serif;
}

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}

/* სქროლბარის დამალვა */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
