@import "tailwindcss";
@import "tw-animate-css";

/* ინარჩუნებს dark mode-ს თუ გჭირდება */
@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-gray-300 outline-none;
  }

  body {
    @apply bg-white text-gray-900;
  }
}

/* Optional: dark mode */
.dark body {
  @apply bg-gray-900 text-gray-100;
}


@keyframes scan {
  0% {
    top: 0%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

.animate-scan {
  animation: scan 4s linear infinite;
}