@import "tailwindcss";
@import "tw-animate-css";

/* ინარჩუნებს dark mode-ს თუ გჭირდება */
@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-gray-300 outline-none;
  }

  body {
    @apply bg-white text-gray-900;
  }
}

/* Optional: dark mode */
.dark body {
  @apply bg-gray-900 text-gray-100;
}
